<!DOCTYPE html>
<html data-theme="corporate" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Narwhal</title>
    <link 
    rel="stylesheet" 
    href="css/tailwind.css" 
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="imgs/logo.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Nav bar-->
   <nav class="relative container mx-auto p-6">
    <!--Flex container-->
    <div class="flex items-center justify-between">
      <!--Logo-->
      <div class="pt-2">
        <img src="imgs/logoxsmall.png" alt="Narwhal logo"/>
      </div class="pt-2">
      <!--Menu items-->
      <a href="#" class="md:block p-3 px-6 pt-2 text-white bg-darkBlue rounded-full baseline hover:bg-lightBlue">
        Feed
      </a>
      <a href="#" class="md:block p-3 px-6 pt-2 text-white bg-darkBlue rounded-full baseline hover:bg-lightBlue">
        Discover
      </a>
      <a href="#" class="md:block p-3 px-6 pt-2 text-white bg-darkBlue rounded-full baseline hover:bg-lightBlue">
        Profile
      </a>
    </div>
  </nav>
  </body>
</html>
