<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="stevejobs">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="steve.jobs@apple.com">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Apples4Steve">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Apples4Steve">
                      </div>
                    <div class="mb-3">
                      <label for="companyName" class="form-label">What is the name of your company?</label>
                      <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Apple">
                    </div>
                    <div class="mb-3">
                      <label for="description" class="form-label">Please provide a short description, under 120 characters.</label>
                      <input type="text" class="form-control" id="description" name="description" placeholder="Apple is a technology company that designs, develops, and sells consumer electronics, computer software, and online services.">
                    </div>
                    <div class="mb-3">
                      <label for="headquarters" class="form-label">Where is your company based?</label>
                      <input type="text" class="form-control" id="headquarters" name="headquarters" placeholder="Cupertino, CA">
                    </div>
                    <div class="mb-3">
                      <label for="websiteURL" class="form-label">Provide a link to your website.</label>
                      <input type="text" class="form-control" id="websiteURL" name="websiteURL" placeholder="apple.com">
                    </div>
                    <div class="mb-3">
                      <label for="contactInfo" class="form-label">Provide the best way to get in touch with you (email, calendly, ect.)</label>
                      <input type="text" class="form-control" id="contactInfo" name="contactInfo" placeholder="calendly.com/apple/30-min">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>